#about-section .container {
  padding-left: 15px;
  padding-right: 15px;
  display: flex;
  align-items: center;
  min-height: 100vh;
}

#about-section .row.d-flex.align-items-stretch {
  margin-left: 0;
  margin-right: 0;
}

#about-section .col-md-6.col-lg-5.d-flex {
  padding-left: 0;
  padding-right: 0;
}

#about-section .col-md-6.col-lg-7.pl-lg-5.pb-5 {
  padding-left: 30px;
  padding-right: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
